@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #dadada;
  font-family: 'Montserrat', sans-serif;
}

.ui {
  border-radius: 0px !important;
  font-family: 'Montserrat', sans-serif !important;
}
input {
  border-radius: 0px !important; 
}

.label {
  border-radius: 5px !important;
}

.ribbon {
  border-radius: 0px !important;
}

.header {
  font-family: 'Lexend Deca', sans-serif !important;
}

#backbutton {
  border-radius: 100px !important;
}

.ember-google-map {
  width: 100%;
  height: 500px;
}

#social-links {
  font-size: 25px;
}

#progress {
  width: 100%;
}

#logoHeader {
  color: white
}

#sidebar {
  position: fixed;
  height: 100vh;
  background-color: #f5f5f5;
  padding-top: 68px;
  padding-left: 0;
  padding-right: 0;
}
#sidebar .ui.menu > a.item {
  padding: 10px 20px;
  line-height: 20px;
  color: darkgreen;
  border-radius: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
}
#sidebar .ui.menu > a.item.active {
  background-color: #21BA45;
  color: white;
  border: none !important;
}
#sidebar .ui.menu > a.item:hover {
  background-color: #eee;
  color: darkgreen;
}
#content {
  padding-top: 56px;
  padding-left: 20px;
  padding-right: 20px;
}
#content h1 {
  font-size: 36px;
}
#content .ui.dividing.header {
  width: 100%;
}
.ui.centered.small.circular.image {
  margin-top: 14px;
  margin-bottom: 14px;
}
.ui.borderless.menu {
  box-shadow: none;
  flex-wrap: wrap;
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Montserrat', sans-serif;
}
.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}
