{{ember-load-remover}}
<div class="ui container">
  <div class="ui basic center aligned segment">
    <br><br><br><br><br><br><br><br><br>
    <h1 class="ui huge center aligned header">Welcome to Aptool</h1>
    <h2 class="ui medium center aligned header">
      The Application Process Tool helps you organizing your applications so that you have a clear mind during your process <br><br><br>
      {{! template-lint-disable no-nested-interactive}}
      <a href="/applications">
        <button class="ui green button">Get Started</button>
      </a>
    </h2>
  </div>
</div>