<br>
<br>
<br>
<div class="ui stackable grid">
	 <div class="four wide column"></div>
	 <div class="eight wide column">
	 	 <div class="ui raised segment"></div>
	 </div>
	 <div class="four wide column"></div>
</div>